form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  min-height: 170px;
}

form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid var(--red);
  background-color: white;
  border-radius: 12px;
  max-width: 350px;
}

input[type="text"]::placeholder {
  font-weight: bold;
}

.searchBtn {
  padding: 10px 30px;
  background-color: var(--red);
  border: 2px solid var(--red);
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.searchBtn:hover {
  background-color: var(--pink);
  color: var(--red);
  border: 2px solid var(--red);
}